body {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    font-size: 1.2em;
    background-color: #d38d5fff;
    top: 0;
    width: 100%;
    position: fixed;
}

#title a {
    text-decoration: none;
    color: black;
}

#footer {
    text-align: center;
    width: 100%;;
    background-color: #2b0000ff;
    color: #f1f1f1;
    bottom: 0;
    font-size: 1.2em;
    margin-top: 10vh;
    position: fixed;
}

.container {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 15vh;
    grid-template-areas: 
    "Top Top" 
    "left right";
    background-color: blanchedalmond;
    padding: 5em;
    border-radius: 5%;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.Top {
    text-align: center;
    font-size: 2em;
    margin-bottom: auto;
    grid-area: Top;
    background-image: url(/images/PrinsesTarta.png);
    background-size: cover;
    margin-bottom: 1em;
    border-radius: 1em;
}

.left {
    width: 90%;
    font-size: 1em;
    height: 80%;
    margin-right: 10px;
    padding: 0.5em;
    border: 0.3em solid #333;
    border-radius: 5px;

}
.left h3 {
    text-align: center;
    font-size: 1.5em;
}
.right {
    font-size: 1em;
    grid-area: right;
    border: 0.3em solid #333;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 1em;
    padding: 0.5em;
}


@media screen and (max-width: 450px) {
    .container {
        margin: auto;
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .left {
        border: 0;
    }
    .right {
        width: 90%;
        border: 0;
    }
    .Top {
        margin-inline: auto;
    }
    body {
        background-color: blanchedalmond;
    }
}