body {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    font-size: 1.2em;
    background-color: #d38d5fff;
    top: 0;
    width: 100%;
    position: fixed;
}

#title a {
    text-decoration: none;
    color: black;
}


#footer {
    text-align: center;
    width: 100%;;
    background-color: #2b0000ff;
    color: #f1f1f1;
    bottom: 0;
    font-size: 1.2em;
    margin-top: 10vh;
    position: fixed;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center; 
    margin-top: 15vh;
    grid-template-areas: 
    "top top" 
    "left right"
    "left right";

    background-color: blanchedalmond;
    padding: 5em;
    margin: 0 auto;
    max-width: 700px;
    border-radius: 5%;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
.top-rulltarta {
    text-align: center;
    font-size: 2em;
    margin-bottom: auto;
    grid-area: top;
    
    background-size: cover;
    margin-bottom: 1em;
    border-radius: 1em;
}


.top, .top-rulltarta {
    text-align: center;
    font-size: 2em;
    margin-bottom: auto;
    grid-area: top;
    background-size: cover;
    margin-bottom: 1em;
    border-radius: 1em;
}
.top {
    background-image: url(./images/PrinsesTarta.png);
}

.top-rulltarta {
    background-image: url(./images/Rulltarta.png);
}

.left {
    font-size: 1em;
    max-height: 250px;
    border: 0.3em solid #333;
    padding: 0.5em;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 10px;

}
.left h3 {
    text-align: center;
    font-size: 1.5em;
}
.right {
    font-size: 1em;
    grid-area: right;
    border: 0.3em solid #333;
    border-radius: 5px;
    padding: 0.5em;
    
}




@media screen and (max-width: 1000px) {
    .container {
        margin-top: 20vh;
        margin-inline: 10px;
        padding: 0;
    }
    .left {
        border: 0.3em solid #333;
        padding: 0;
        margin-left: 0px;
    }
    .left, ul {
        padding: 10px;
    }
    .right, ol {
        padding: 10px;
    }
    .right {
        width: 40vw;
    }

    body {
        background-color: blanchedalmond;
        overflow-y: scroll;
        height: 100vh;
    }


}